<!DOCTYPE html>

<html lang="pt-br">  

   <head>
    
        <meta charset="UTF-8">  
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0">  
        <title>Indicadores epidemiológicos</title> 
       
   </head>
<body>

<h1>Gere indicadores epidemiológicos de forma fácil e eficiente</h1>

</body>